<h3>User Info Edit</h3>
<%= form_with model: @user, local:true do |f| %>

   <div>Profile Image</div>
   <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
   <%= f.attachment_field :profile_image %>

   <div><label for="inputName">Name</label></div>
   <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

   <div><label for="inputIntroduction">Introduction</label></div>
   <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction",placeholder:"紹介文" %>

   <div><%= link_to "Back", user_path(current_user) %> <%= f.submit "Update" %></div>
<% end %>
