<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-2 mx-sm-auto rounded px- my-5">

 <div class ="text-center">

   <h3>User Info Edit</h3>
   <%= form_with model: @user, local:true do |f| %>

   <div>Profile Image</div>
   <div><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%></div>
   <div><%= f.attachment_field :profile_image %></div>

   <div><label for="inputName">Name : </label>
   <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></div>

   <div><label for="inputIntroduction">Introduction : </label>
   <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction",placeholder:"紹介文" %></div>
  
   <div><%= f.submit "Update", class: "btn btn-outline-secondary" %></div>
   <div><%= link_to "Back", user_path(current_user) %> </div>
   <% end %>
   </div>
 
    </div>
  </div>
</div>
