<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-2 mx-sm-auto rounded px- my-5">

<h3>Favorites</h3>
<p class="border-bottom"></p>
<% @favorite_posts.each do |post| %>
<!--プロフィール画像-->
<p><%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %> <%= post.user.name %></p>
<!--投稿画像-->
<p><%= attachment_image_tag post, :post_image, :fill, 500, 500 %></p>
<!--いいね-->
<p class="fa fa-heart unlike-btn">
<%= post.favorites.length %></p>
<!--ショップ名-->
<p>Shop Name：<%= post.shop_name %></p>
<!--説明-->
<p>Text：<%= post.body %></p>
<!--おすすめ度-->
<p id="star-rate-<%= post.id %>">Recommend : </p>
<script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
<p class="border-bottom"></p>
<% end %>
<div><%= link_to "Home", "/" ,class: "fas fa-home" %></div>
    </div>
  </div>
</div>