<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-2 mx-sm-auto rounded px- my-5">
      <h3>投稿編集</h3>
      <p class="border-bottom"></p>
      <!--バリデーション-->
      <div class="my-3">
        <% if @post.errors.any? %>
          ※<%= @post.errors.count %>件のエラーが発生しました
          <% @post.errors.full_messages.each do |message| %>
          <%= message %>
          <% end %>
        <% end %>
      </div>
      <%= form_with model: @post, local:true do |f| %>
      <!--投稿写真-->
      <div class="mb-3">
        Photo<br />
        <%= attachment_image_tag @post, :post_image, :fill, 50, 50, fallback: "no_image2.jpg"%>
        <%= f.attachment_field :post_image %>
      </div>
      <!--ショップ名-->
      <div class="mb-3">
        <label for="inputShopName">
          Shop Name
        </label><br />
          <%= f.text_field :shop_name, autofocus: true, id:"inpuShopName" %>
      </div>
      <!--説明文-->
      <div class="mb-3">
        <label for="inputBody">
          Text
        </label><br />
           <%= f.text_area :body, autofocus: true, id:"inputBody"%>
      </div>
       <!--エリア-->
       <!--<div>Area</div>-->
       <%#= f.text_field :area_id %>
       <!--星の評価-->
       <div class="form-group" id="star">
           <%= f.label :rate,'Recommend', class:' col-form-label' %>
           <%= f.hidden_field :rate, id: :review_star %>
       </div>
       <!-- 評価javascript -->
         <script>
            $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'post[rate]',
            half: true,
            });
         </script>
      <div class="mb-5">
        <%= f.submit 'Update', class: "btn btn-outline-danger" %>
      </div>
      <div>
        <%= link_to "Home", "/" ,class: "fas fa-home" %>
      </div>
      <% end %>
    </div>
  </div>
</div>