<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-2 mx-sm-auto rounded px- my-5">
     
<h3>投稿一覧</h3>
<table class= 'table' >
<% @posts.each do |post| %>
 <tr id="post_<%= post.id %>">
  <!--プロフィール-->
  <p><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %> <%= post.user.name %></p>
  <!--フォロー機能-->
   <%# if current_user.following?(@user) %>
   <%#= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
   <%# else %>
   <%#= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
   <%# end %>

  <!--投稿画像-->
  <p><%= attachment_image_tag post, :post_image %></p>
  <!--いいね-->
  <p class="favorite-btn"><%= render "favorites/favorite-btn", post: post %></p>
  <!--ショップ名-->
  <p>Shop Name：<%= post.shop_name %></p>
  <!--<p>Area : <%#= post.area_id %></p>-->

  <!--説明-->
  <p>Text：<%= post.body %></p>

  <!--評価-->

         <p id="star-rate-<%= post.id %>">Recommend : </p>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
        <!--/星評価-->

  <!--コメント-->
  <!--<table class="comments">-->
  <!--      <%#= render 'comments/index', post: post %>-->
  <!--    </table>-->
  <p>
    Comments :<%= form_with model:[post, @comment] do |f| %>
    <%= f.text_area :comment, size:"50x5",placeholder: "コメント" %>
    <%= f.submit "Post" %>
    <% end %>
  </p>
     <%# if @comment.user == current_user %>
     <!--<div>-->
      <%#= link_to "削除", post_comment_path(post.id), method: :delete %>
     <!--</div>-->
     <%# end %>

  <!--<p>POST</p>-->
 <p>
  <% if post.user == current_user %>
   <%= link_to "Edit", edit_post_path(post.id) %>
  <% end %>
  <% if post.user == current_user %>
   <%= link_to "Destroy", post_path(post.id), method: :delete %>
  <% end %>
 </p>
</tr>
<p class="border-bottom"></p>
<% end %>
</table>

     </div>
   </div>
 </div>
