<h3>New Cafe</h3>
<%= form_with model: @post, local:true do |f| %>
<div>Photo</div>
<%= f.attachment_field :post_image %>
<div>Cafe's Name</div>
<%= f.text_field :shop_name %>
<div>Text</div>
<%= f.text_area :body %>

<!--<div>Area</div>-->
<%#= f.text_field :area_id %>

<!--星の評価-->
<!--<div>Recommend</div>-->
 <div class="form-group" id="star">
    <%= f.label :rate,'Recommend', class:' col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
 </div>
 
   <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script> 
  
<div><%= f.submit 'POST' %></div>
<% end %>