<h3>投稿詳細</h3>
<!--<tr id="post_<%#= post.id %>">-->
<td><%= image_tag('no_image.jpg') %><%= @post.user.name %></td>

<!--投稿画像-->
  <td><%= attachment_image_tag @post, :post_image %></td>
  <!--いいね-->
   <td class="favorite-btn"><%= render "favorites/favorite-btn", post: @post %></td>

  <!--ショップ名-->
  <td>Cafe's Name：<%= @post.shop_name %></td>
  <!--<p>Area : <%#= post.area_id %></p>-->

  <!--説明-->
  <td>Text：<%= @post.body %></td>

  <!--評価-->

         <td id="star-rate-<%= @post.id %>">Recommend : </td>
          <script>
          $('#star-rate-<%= @post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post.rate %>,
          });
          </script>
        <!--/星評価-->

  <!--コメント-->
  <% @comments.each do |comment| %>
   <p>Comments :<%= comment.comment %></p>
  <!--コメント削除-->
   <% if comment.user == current_user %>
     <p><%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete %></p>
   <% end %>
</tr>
  <% end %>

  <div><%= link_to "Back", posts_path %></div>