<!DOCTYPE html>
<html>
  <head>
    <title>Cafelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&family=M+PLUS+2:wght@100&family=Nunito:wght@600&display=swap" rel="stylesheet">


    <!--slickアプリケーション（画像スライダー）を呼び出す-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!---->
    <!--ナビゲーション-->
    <link rel="stylesheet" type="text/css" href="stylesheets/application.scss">
    <!---->
  </head>

<!--ヘッダー-->
  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag "cafelog.jpg", :size => '100x100' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <!--<div class="text-center">-->
        <!--ナビゲーション動く部分-->
        <ul class="gnavi mr-5">
         <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="current">
           <li><%= link_to "新規投稿", new_post_path, class: 'nav-link active'  %></li>
           <li><%= link_to "投稿一覧", posts_path, class: 'nav-link active' %></li>
           <li><%= link_to "Favorites", favorites_user_path(current_user), class: 'nav-link active' %></li>
           <li><%= link_to "Ranking", post_ranking_path(current_user), class: 'nav-link active' %></li>
           <li><%= link_to "My Page", user_path(current_user), class: 'nav-link active' %></li>
           <li><%= link_to "Log Out",destroy_user_session_path,method: :delete, class: 'nav-link active' %></li>
          </li>
         </ul>
          <% else %>
         <ul class="navbar-nav mr-5">
           <li class="current">
           <li><%= link_to "Home","/", class: 'nav-link active'  %></li>
           <li><%= link_to "About", about_path, class: 'nav-link active'  %></li>
           <li><%= link_to "Sign Up",new_user_registration_path, class: 'nav-link active'  %></li>
           <li><%= link_to "Log In",new_user_session_path, class: 'nav-link active'  %></li>
           </li>
          <% end %>
         </ul>
         </ul>
        <!--</div>-->
      </div>
        <div class="search-form">
          <% if user_signed_in? %>
           <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword, placeholder: "keyword" %>
            <i class="fas fa-search"></i>
            <%#= f.submit "検索" %>
           <% end %>
          <% end %>
         </div>
      </div>
     </nav>
    </header>
    <%= yield %>

<!--フッター-->
    <footer class="footer">
      <p class="text-center pt-3">©2021 Cafelog</p>
    </footer>

  </body>
</html>
